* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url("../Images/bg.jpg");
    background-size: cover;
    color: white;
}

.form-registrasi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.form-registrasi h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.form-registrasi p{
    margin: 10px 0;
}

.form-registrasi input{
    padding: 10px;
    outline: none;
}

.form-registrasi button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: white;
}

.form-registrasi button:hover{
    color: red;
}